---
import Title from "../common/Title.astro";
---

<section
  class="flex flex-col justify-center items-center w-full h-full text-center snap-start"
  {...Astro.props}
>
  <Title type="h2">About</Title>
  <p>Somos una comunidad tecnológica en el Huila</p>
</section>
