---
import Button from "../common/Button.astro";
import Logo from "../common/Logo.astro";
import Title from "../common/Title.astro";
---

<section
  class="container p-4 relative mx-auto flex flex-col items-center gap-10 w-full h-full text-center snap-end"
  {...Astro.props}
>
  <Logo />
  <Title type="h1">AchiraConf</Title>
  <p class="text-justify">
    Acompáñanos a la primera edición de esta conferencia para que lleves el
    tuste lleno de tecnología con una caguinga de conocimiento.
  </p>
  <Title
    type="h2"
    bg={false}
    class="text-left self-start after:block after:w-full after:h-2 after:bg-white after:mt-1"
  >
    Mayo 5<br />Neiva
  </Title>
  <div class="absolute bottom-8 flex flex-col gap-8 self-end mt-8">
    <Button href="#" target="_blank" class="self-end">Envia tu charla</Button>
    <Button href="#" target="_blank" class="self-end">Tickets</Button>
  </div>
</section>
