---
import Layout from "../layouts/Layout.astro";
import Home from "../components/sections/home.astro";
import About from "../components/sections/about.astro";
import Header from "../components/Header.astro";
import SkyBackground from "../components/SkyBackground.astro";
---

<Layout>
  <div
    class="focus absolute -z-10 w-full h-full pointer-events-none mix-blend-darken"
  >
  </div>

  <SkyBackground />

  <main
    class="pages w-full h-full snap-y snap-mandatory overflow-y-scroll overflow-x-hidden relative after:left-0 after:bg-repeat-x after:bg-[size:70%] after:w-full after:h-full after:fixed after:-z-10 after:brightness-50 after:transition-[bottom] after:duration-1000"
  >
    <Header />

    <Home />

    <About />

    <footer
      class="flex fixed bottom-[var(--footer-bottom)] w-full p-4 items-center justify-center transition-[bottom] duration-500"
    >
      <p>&copy; {new Date().getFullYear()} AchiraConf</p>
    </footer>
  </main>
</Layout>

<script>
  let pages = document.querySelector(".pages") as HTMLElement;
  let footer = document.querySelector("footer") as HTMLElement;

  const footerBottom = getComputedStyle(
    document.documentElement
  ).getPropertyValue("--footer-bottom");

  function setDesertBottom() {
    const scroll = pages.scrollTop;

    const desertBottom = Number(
      getComputedStyle(document.documentElement)
        .getPropertyValue("--desert-bottom")
        .replace("px", "")
    );

    pages.style.setProperty(
      "--desert-bottom",
      `${scroll * -2 + desertBottom}px`
    );

    if (pages.scrollTop + pages.clientHeight >= pages.scrollHeight) {
      footer.style.bottom = "0";
    } else {
      footer.style.bottom = footerBottom;
    }
  }
  pages.addEventListener("scroll", setDesertBottom);
  window.addEventListener("resize", setDesertBottom);
</script>

<style>
  :root {
    --desert-bottom: -20px;
    --footer-bottom: -100%;
  }

  @media screen and (min-width: 768px) {
    :root {
      --desert-bottom: -100px;
    }
  }

  @media screen and (min-width: 1024px) {
    :root {
      --desert-bottom: -150px;
    }
  }

  @media screen and (min-width: 1440px) {
    :root {
      --desert-bottom: -250px;
    }
  }

  .focus {
    background: radial-gradient(
      circle at 50% 100%,
      transparent 10%,
      rgba(0, 0, 0, 0.5) 50%
    );
  }

  .pages::after {
    /* content: ""; */
    background-image: url(/assets/images/desert.png);
    background-position-y: bottom;
    bottom: var(--desert-bottom);
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  footer {
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  }
</style>
