---
const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class:list={[
    "astro-link text-achira-darklight transition-all duration-300 underline underline-offset-4 decoration-achira-darklight hover:no-underline",
    className,
  ]}
  {...props}
>
  <slot />
</a>

<style>
  .astro-link {
    font-family: ND_LOGOS_REGULAR;
  }
</style>
